<div id="form">
  <h2>Login</h2>
  <form action="/login" method="POST">
    <br />
    <label>
      Email
      <input
        type="email"
        name="email"
        placeholder="rockstar@ironhack.com"
        required
      />
    </label>
    <br />
    <label>
      Password
      <input type="password" name="password" placeholder="********" required />
    </label>
    <br />
    <br />
    <button type="submit">Login</button>

    <%#!-- error message will be added here --%>
  </form>
  <div>
    <% if (typeof errorMessage !== 'undefined') {%>
    <p><%= errorMessage%></p>
    <%} %>
  </div>
  <br />
  <a href="/">Homepage</a>
</div>
